body {
	background-color: white;
	color: rgb(20, 20, 20);
}
p {
	padding: none;
	margin-left: 10%;
	margin-right: 10%;
}
p.guia {
	text-decoration: bold;
	font-family: courier;
	text-align: justify;
	letter-spacing: -1px;
}
p.gc {
	color: rgb(40, 0, 0);
}
p.gf {
	color: rgb(0, 0, 40);
}
ul.guia {
	padding: none;
	text-decoration: bold;
	font-family: courier;
	text-align: justify;
	margin-left: 16%;
	margin-right: 16%;
	letter-spacing: -1px;
}
h2 {
	text-align: center;
	font-family: times;
	font-size: 25;
	font-style: italic;
}
h3 {
	text-align: center;
	font-size: 40;
	text-decoration: underline;
	font-family: palatino;
}
h1 {
	text-align: center;
	font-size: 17;
	font-family: arial;
	padding: none;
	margin: none;
}
